/* app global CSS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'SF Mono';
    letter-spacing: -0.5px;
    src: url('../assets/SF-Mono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Spotnik';
    src: url('../assets/Spotnik.woff2') format('woff2');
}

html {
   height: 100%;
   width: 100%;
}

a {
   text-decoration: none;
   color: skyblue;
}

/* declare a class which applies it */
.titillium-web {
  font-family: 'Titillium Web', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.sf-mono {
  font-family: 'SF Mono', monospace;
}

.sf-mono-tight {
  font-family: 'SF Mono', monospace;
  letter-spacing: -0.5px;
}

.jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
}

.exo2 {
  font-family: 'Exo 2', sans-serif;
}

.archivo {
  font-family: 'Archivo', sans-serif;
}

.rajdhani {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

.q-expansion-item {
  width: 100%;
  border: 0px solid #5a7094;
  border-radius: 2px;
  background: none;
  font-family: 'Spotnik'
}

.code {
  border: 0px solid #5a7094;
  border-radius: 2px;
  background: grey;
  font-family: 'SF Mono';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.5px;
  padding: 0px 2px 0px 2px;
}

.code-flat {
  border: 0px solid #5a7094;
  border-radius: 2px;
  font-family: 'SF Mono';
  letter-spacing: 0px;
  padding: 0 3px 0 3px;
}

.copy-btn-priv {
  margin-left: 77%;
  margin-top: -50px;
  padding: 4px 8px 4px 8px;
  border: 0px solid orange;
  border-radius: 3px;
  color: orange;
  width: 90px;
}

.copy-btn-pub {
  margin-left: 77%;
  margin-top: -50px;
  padding: 4px 8px 4px 8px;
  border: 0px solid lightgreen;
  border-radius: 3px;
  color: lightgreen;
  width: 90px;
}

.tooltip {
  font-size: 12px;
  background: black;
}

.notify {
  font-size: 12px;
  font-family: 'SF Mono';
  letter-spacing: -0.5px;
}

.tooltip-url {
  font-size: 13px;
  background: #0062ff;
  font-family: 'SF Mono';
  border: 0px solid skyblue;
  color: white;
  font-weight: 600;
}

.pubkey {
  font-family: 'SF Mono';
  margin-left: -10px;
  font-size: 11px;
  color: white;
}

.backdrop {
  /*
  background-image: url('/background_alpha.png'), linear-gradient(319deg, rgba(5,11,6,1) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 50%, rgba(20,18,18,1) 72%, rgba(41,32,32,1) 84%, rgba(82,62,62,1) 91%, rgba(153,73,73,1) 96%, rgba(172,51,184,1) 100%);
  */
  background-image: url('/background_alpha.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
