/* app global CSS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/SF-Mono-Regular.woff2') format('woff2');
}

/* declare a class which applies it */
.titillium-web {
  font-family: 'Titillium Web', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.q-expansion-item {
    width: 100%;
    border: 2px solid #5a7094;
    border-radius: 2px;
    background-color: #333e52;
}
